[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
httpx = "*"
aiocache = "*"
pygeodesy = "*"
typing_extensions = "*"

[dev-packages]
black = "*"
pytest = "*"
pytest_mock = "*"
sanic-testing = "*"
pytest-asyncio = "*"
respx = "*"

[requires]
python_version = "3.7"

[scripts]
test = "env AIOCACHE_DISABLE=1 pytest -v ./modules"
format = "black ."
